.contact-cta {
	background: url(../images/bg/contact-cta.jpg) no-repeat fixed center center;
	background-size: 100% 100%;
	width: 100%;
	height: auto;
	@media screen and (max-width: $break-tablet) {
		background-attachment: scroll;
	}

	&:after {
		@include image-overlay();
	}

	form {
		max-width: 675px;
		margin: 0 auto;

		.columns {
			@media screen and (min-width: $break-tablet) {
				padding-right: 0;
			}
		}

		textarea {
			height:  131px;
		}

		.button {
			display: inline-block;
			width: auto;
		}
	}
}